/* Leaflet table */
.leaflet table, td {
    border: 1px solid #333;
    text-align: center;
}

.leaflet table tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

.leaflet thead, tfoot {
    background-color: #333;
    color: #fff;
}


/*
.navbar-nav li a:hover, .navbar-nav > .active > a {
  color: #1D2024 !important;

  background-image: none !important;
  background-color:#fcd088 !important;
}
*/

.container-fluid {
  
}

.navbar-nav{
 font-size:15px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
   color: #F9D089;
   font-style: bold;
   background-color: inherit; 
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
   color: #F9D089;
   background-color: inherit;
}


.navbar-nav>.active>a:before {
   content: "";
   position: absolute;
   left: calc(50% - 20%);
   bottom: 0;
   width: 40%;
   border-bottom: 4px solid #F9D089;
   margin-bottom: -2px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
   color: #e9c382;
   background-color: #353b43;
}

.nav-pills>li>a {
   border-radius: 0;
   color: #353b43;
}
.navbar-logo {
   margin-top: 2px;
}

.navbar {
  border-color: #C2C4C6;
  background-color: #1D2024;
}

.navbar-brand {
  color:#F9D089!important;
}

.navbar-right .fa-question-circle {
  cursor: pointer;
}

/* Custom scrolling bar
.scrollbox {
 margin-top: 15px;
 padding-right: 15px;
 height: 180px;
 width: 600px;
 overflow-y: scroll;
}

::-webkit-scrollbar {
 width: 3px;
}

::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 4px #F9D089;
 border-radius: 0px;
}

::-webkit-scrollbar-thumb {
 border-radius: 0px;
 background-color: #F9D089;
}
*/

.gris_dark {
  background-color: #f3f3f3;
}

body {
  background-color: #c7c9cb;
}

/* Onglet en jaune */
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #fcd088;
}

/* Fill gaps between charts */
.fdti-dark {
    border: 0px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.fdti-dark-bottom {
    border: 0px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.fdti-dark-right {
    border: 0px;
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.fdti-dark-bottom-right {
    border: 0px;
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
}

.fdti-dark-row {
    border: 0px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}


/* Modal */
.modal_help {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

/* Necessary for positionning help buttons */
.chart-title {
  position: relative;
}

/* Fix weird behavior */
#dashboard-container {
  margin-top: -11px;
}


/* Line separations */
body hr {
  width: 70%;
  margin: auto;
}

/* Preloader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(255,255,255,0.5) 
url("loader.gif") no-repeat center 20%;
}

/* Carousel */
.img-responsive {
  height: 440px!important;
}

.carousel-caption h3 {
  color: black;
  font-weight: 400;
}



